!.gitignore
*.exe
*.txt
*.o
*.lo
*.la
bin/*
!bin/*.cpp
!bin/makefile.am
dergeraet/.deps
dergeraet/.libs
dergeraet/autoconfig.hpp
dergeraet/autoconfig.hpp.in
dergeraet/autoconfig.hpp.in~
aclocal.m4
compile
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
makefile
makefile.in
Makefile
Makefile.in
stamp-h1
missing
autom4te.cache
ar-lib
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

